*.ipynb linguist-detectable=false
*.txt linguist-detectable=false
*.sh linguist-detectable=false
Dockerfile linguist-detectable=false
Makefile linguist-detectable=false
scripts/** linguist-vendored
launch/** linguist-vendored